.root {
    -fx-background-color: #B0C4DE;
    -fx-font-family: "Arial";
}

.title-label {
    -fx-text-fill: #6495ED;
    -fx-font-weight: bold;
}

.feedback-label {
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
    -fx-text-fill: #34495e;
}

.feedback-too-big {
    -fx-text-fill: #e74c3c;
}

.feedback-too-small {
    -fx-text-fill: #ff7f00;
}

.feedback-correct {
    -fx-text-fill: #27ae60;
}

.text-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #bdc3c7;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
}

.button {
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}

.green-button {
    -fx-background-color: #2ecc71; /* Hijau */
}

.green-button:hover {
    -fx-background-color: #27ae60;
}

.blue-button {
    -fx-background-color: #3498db; /* Biru */
}

.blue-button:hover {
    -fx-background-color: #2980b9;
}

.attempts-label {
    -fx-text-fill: #7f8c8d;
}